
{% extends "base.html" %}

{% block page_content %}

{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>



.profile-info{
 margin-top:50px;
 float: right;
 margin-right:14rem;
 font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 font-weight: 700;
 color: #000000;

}



body{
 background-color: #1abc9c;
}
h4 {
  margin-bottom: 30px;
}

#project-header {
text-align: center
}
.containermy-4{

  display: flex;
  justify-content: left;
  margin-left:150px;
  margin-top:50px;
}
.fa{
  color: #000000;
}

.contact {
  background-color: lightgrey;
  width: 550px;
  border: 15px solid white;
  padding: 50px;
  margin: 20px;
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.email-me{
background-color: skyblue;
width:120px;
}

</style>
<div class ="profile">
<div class="profile-info">

    <h5 class="card-title" >Hey I'm Jebaseelan</h5>
    <h6 class="card-subtitle mb-2 text-muted">Software Engineer</h6>
    <p target="_blank" class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>


</div>

<div class="containermy-4">
    <div class="row text-center">
      <div class="col-md-6 mb-4">
        <img class="rounded-circle"  src="{% static 'img/2.jpg' %}" data-holder-rendered="true">
      </div>
    </div>
</div>

</div>



<h4 id="project-header">My Projects</h4>

<div class="card-group">

  {% for project in projects %}
  <div class="row">
  <div class="col-sm-6">
    <div class="card" style="width: 25rem;">
      <img class="card-img-top" src="{% static project.image %}">
      <div class="card-body">
        <h5 class="card-title">{{project.title}}</h5>
        <p class="card-text">{{project.description}}</p>
        <a href={{project.github_link}} class="btn btn-primary" target="_blank">View code</a>
      </div>
    </div>
  </div>
</div>
  {% endfor %}
</div >


<div class="contact">
    <h4>Contact me </h4>
    <p> I love top contact with people and solve the problems and help the world</p>
    <div class="email-me">
        <a class="bt btn primary" href = "mailto:jebaseelanravi96@gmail.com">Send Email</a>
    </div>

</div>
 {% endblock %}

