
{% extends "base.html" %}

{% block page_content %}

{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>

.profile-card .card {
<!--  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);-->
<!--  width: 1250px;-->
<!--  margin: center;-->
<!--  text-align: center;-->
<!--  font-family: arial;-->
<!--  float:center;-->
}

.profile-info{
 margin-top:50px;
 float: right;
 margin-right:100px;
}

h4 {
  margin-bottom: 30px;
}

#project-header {
text-align: center
}
.containermy-4{

  display: flex;
  justify-content: left;
  margin-left:150px;
}
<!--.col-md-4-->
<!-- {-->
<!--  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);-->
<!--  margin: auto;-->
<!--  text-align: center;-->
<!--  font-family: arial;-->

<!--}-->

<!--.title {-->
<!--  color: grey;-->
<!--  font-size: 18px;-->
<!--}-->

<!--a {-->
<!--  text-decoration: none;-->
<!--  font-size: 22px;-->
<!--  color: black;-->
<!--}-->

<!--button:hover, a:hover {-->
<!--  opacity: 0.7;-->
<!--}-->

</style>
<div class="profile-info">

    <h5 class="card-title" >Hey I'm Jebaseelan</h5>
    <h6 class="card-subtitle mb-2 text-muted">Software Engineer</h6>
    <p target="_blank" class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a target="_blank" href="https://www.linkedin.com/in/jebaseelan-ravi-929517135/"><i class="fa fa-dribbble"></i></a>
    <a target="_blank" href="https://www.linkedin.com/in/jebaseelan-ravi-929517135/"><i class="fa fa-twitter"></i></a>
    <a target="_blank" href="https://www.linkedin.com/in/jebaseelan-ravi-929517135/"><i class="fa fa-linkedin"></i></a>
    <a target="_blank" href="https://www.linkedin.com/in/jebaseelan-ravi-929517135/"><i class="fa fa-facebook"></i></a>
</div>

<div class="containermy-4">
    <div class="row text-center">
      <div class="col-md-6 mb-4">
        <img class="rounded-circle"  src="{% static 'img/2.jpg' %}" data-holder-rendered="true">
      </div>
    </div>
</div>




<h4 id="project-header">My Projects</h4>

<div class="card-group">

  {% for project in projects %}
  <div class="row">
  <div class="col-sm-6">
    <div class="card" style="width: 25rem;">
      <img class="card-img-top" src="{% static project.image %}">
      <div class="card-body">
        <h5 class="card-title">{{project.title}}</h5>
        <p class="card-text">{{project.description}}</p>
        <a href={{project.github_link}} class="btn btn-primary" target="_blank">View code</a>
      </div>
    </div>
  </div>
</div>
  {% endfor %}
</div>

 {% endblock %}

