
{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block page_content %}

{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>



.profile-info{
 margin-top:50px;
 float: right;
 margin-left:32rem;
 font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
<!-- font-weight: 700;-->
 color: #000000;
 font-color: green;

}



body
{
 background-color: #fffff;
}
h4 {
  margin-bottom: 30px;
}

#project-header,#skill-header {
text-align: center
}
.containermy-4{

  display: flex;
  justify-content: left;
  margin-left:150px;
  margin-top:50px;
}
.fa{
  color: #000000;
}

.contact {
  background-color: white;
  width: 550px;
  border: 5px solid white;
  padding: 50px;
  margin: 20px;
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.email-me{
background-color: skyblue;
width:120px;
}

.avatar {
    background-color: #66ffff;
    border: 5px solid  #66ffff;
}


.skills {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;

}

.skill {
  flex: 11.11%;
  padding: 0 50px;
  max-width: 11.11%;
}

.skill img {
  margin-top: 20px;
  vertical-align: middle;
  width: 100%;
<!--  border: 0.5px solid black;-->
}

.div-border{
 padding: 10px;
 border: 0.1px solid  #bfbfbf;
}


.resume{
    padding-left: 80px;
}

.resume-title {

  margin-top: 30px;
  margin-bottom: 20px;

}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #0563bb;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #0563bb;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #f7f8f9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #0563bb;
}




</style>
<div class ="profile">
<div class="profile-info">

    <h3 class ="name">Hey I'm {{profile.name}}</h3>
    <h6 class="card-subtitle mb-2 text-muted">{{ profile.designation}}</h6>
    <p >{{profile.summary}}</p>

    <div class="icon-bar">
      <a href={{profile.fb_link}} class="facebook"><i class="fa fa-facebook"></i></a>
        <a href={{profile.insta_link}} class="instagran"><i class="fa fa-instagram"></i></a>
        <a href={{profile.github_link}} class="instagran"><i class="fa fa-github"></i></a>
      <a href={{profile.linkedin_link}} class="linkedin"><i class="fa fa-linkedin"></i></a>
        <a href=mailto:{{profile.email}} class="gmail"><i class="fa fa-envelope"></i></a>
        <br>
        <i class="fa fa-phone" aria-hidden="true">: {{profile.phone_number}}</i>

    </div>
    </section>
</div>

<div class="containermy-4">
    <div class="row text-center">
      <div class="col-md-6 mb-4">
        <img class="rounded-circle avatar"  src="{% static 'img/2.jpg' %}" data-holder-rendered="true">
      </div>
    </div>
</div>

</div>

<hr>


<h4 id="project-header">My Projects</h4>

<div class="card-group">

  {% for project in projects %}
  <div class="row">
  <div class="col-sm-6">
    <div class="card" style="width: 25rem;">
      <img class="card-img-top" src="{% static 'img/project.image %}">
      <div class="card-body">
        <h5 class="card-title">{{project.title}}</h5>
        <p class="card-text">{{project.description}}</p>
        <a href={{project.github_link}} class="btn btn-primary" target="_blank">View code</a>
      </div>
    </div>
  </div>
</div>
  {% endfor %}
</div >
<hr>

<h4 id="skill-header" >My Skills</h4>

<div class="div-border">

    <div class="skills">
    {% for skill in skills %}
    <div class="skill">
        <img id="skill-image" title={{skill.name}}  src={{skill.image}} alt={{skill.name}} class="skill-data">
    </div>
    {% endfor %}

</div>
</div>

<h3 align="center" class="resume-title">Professional Experience</h3>

<section id="resume" class="resume">
 <div class="col-lg-6">
            {% for exp in experiences %}
            <div class="resume-item">
              <h4>{{exp.designation}}</h4>
                  {% if exp.is_present %}
                    <h5>{{exp.start_date}} - present</h5>
                {% else %}
                    <h5>{{exp.start_date}} - {{exp.end_date}}</h5>
                {% endif %}

              <p><em>{{exp.company}}, {{exp.location}} </em></p>
              <ul>
                  {% if exp.responsibilities_1 is not None %}
                    <li>{{exp.responsibilities_1}}</li>
                  {% endif %}
                  {% if exp.responsibilities_2 %}
                    <li>{{exp.responsibilities_2}}</li>
                  {% endif %}
                  {% if exp.responsibilities_3 %}
                    <li>{{exp.responsibilities_3}}</li>
                  {% endif %}
                  {% if exp.responsibilities_4 %}
                    <li>{{exp.responsibilities_4}}</li>
                  {% endif %}



              </ul>
            </div>
            {% endfor %}

          </div>

</section>

<hr>

<div class="contact">
    <h3 align="center">Contact me </h3>
    <form action="/myportfolio/contact" method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Send Now</button>
  </form>

<!--    <p> I love to connect with people and solve the problems and help the world</p>-->
<!--    <div class="email-me">-->
<!--        <a class="bt btn primary" href = "mailto:jebaseelanravi96@gmail.com">Send Email</a>-->
</div>


 {% endblock %}

